<ng-template #tooltipTags >
	<div>
		<span>{{tooltipTranslated}}</span>		
	</div>
</ng-template>

<div class="form-group">
	<div>
		<label for="{{id}}">{{labelTranslated}}</label>
		<div *ngIf="tooltip" [ngbTooltip]="tooltipTags" placement="right" class="help">?</div>
	</div>
	<div class="input-group">
		<input type="text" class="form-control col-10" name="{{name}}" id="{{id}}" [(ngModel)]="tag" (keyup.enter)="addTag()"/>
		<button type="button" class="btn offset-1 col-1" (click)="addTag()">+</button>
	</div>
	<div class="tags">
		<div class="tag" *ngFor="let tagElement of inheritedTags">
			<span>{{tagElement}}</span>
		</div>
		<div class="tag" *ngFor="let tagElement of tags">
			<span>{{tagElement}}</span><span class="delete" (click)="deleteTag(tagElement)">x</span>
		</div>
	</div>
</div>
